<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find the page!</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloria Hallelujah">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Condensed">
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
    <div class="card">
        <div class="title">GAME OVER</div>
    </div>
    <div class="card card-normal">
        <div>Your final score: <p class="font-normal" style="font-size: xx-large;">{{score}}</p></div>
        <div>Your position in the scoreboard is <p class="color-blue" style="font-weight: bold;">{{positionHighScore}}</p> out of <p class="color-green" style="font-weight: bold;">{{nbHighScore}}</p></div>
    </div>
    <div class="card card-normal">
        <form action="/highscore" method="POST">
            <input class="input" type="text" name="name" placeholder="Enter your name">
            <input class="hide" type="text" name="level" value="{{level}}">
            <input class="hide" type="text" name="score" value="{{score}}">
            <button type="submit" class="start-btn">Submit my score</button>
        </form>
    </div>
    <div class="card card-normal">
        <a href="/"><button class="start-btn">menu</button></a>
    </div>
</body>
</html>