<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki game</title>
</head>
<body>
    <h1>Welcome to Wiki Game</h1>
    <h2>How to play?</h2>
    <p>You start at a wikipedia page and your goal is to navigate to a target page using only links.</p>
    <p>You think it's easy? Good luck!</p>
    <a href="/menu">Start the game!</a>
</body>
</html>