<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find the page! Level start</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloria Hallelujah">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Condensed">
    <link rel="stylesheet" href="static/stylesheet.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LD6KY0B44L"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LD6KY0B44L');
    </script>

</head>
<body>
    <div class="card">
        <div class="title">Level {{level}}</div>
    </div>
    <div class="card card-normal">
        <div>Start page: <p class="color-blue">{{start}}</p>.</div>
    </div>
    <div class="card card-normal">
        <div>Your target page is <p class="color-green">{{end}}</p>.</div>
    </div>
    <div class="card card-normal">
        <div>Shortest existing path: <p class="font-normal" style="font-weight: bold;">{{minStep}} click{% if minStep | int > 1 %}s{%endif%}</p>.</div>
    </div>
    <div class="card card-normal">
        <div>You must get to the target page in less than {{maxStep}} clicks.</div>
    </div>
    <div class="card card-normal">
        <a href="{{href}}"><button class="start-btn">START</button></a>
    </div>
</body>
</html>