<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Game</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LD6KY0B44L"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LD6KY0B44L');
    </script>

</head>
<body>
    <a href="1" style="color: lightgreen;">level 1</a>
    <a href="2" style="color: lightgreen;">level 2</a>
    <a href="3" style="color: orange;">level 3</a>
    <a href="4" style="color: orange;">level 4</a>
    <a href="5" style="color: orange;">level 5</a>
    <a href="6" style="color: orange;">level 6</a>
    <a href="7" style="color: red;">level 7</a>
    <a href="8" style="color: red;">level 8</a>
    <a href="9" style="color: red;">level 9</a>
    <a href="10" style="color: red;">level 10</a>
</body>
</html>