<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find the page!</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gloria Hallelujah">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Condensed">
    <link rel="stylesheet" href="/static/stylesheet.css">
</head>
<body>
    <div class="card">
        <div class="title">You win</div>
    </div>
    <div class="card card-normal">
        <div>You have earn {{scoreEarn}} score</div>
        <div>So you have {{score}} score now!</div>
    </div>
    <div class="card card-normal">
        <a href="/menu"><button class="start-btn">Start a new level</button></a>
    </div>
</body>
</html>